
[submodule "BUTool"]
	path = BUTool
	url = https://github.com/BU-Tools/BUTool.git
	branch = feature-BUTextIO
[submodule "plugins/GenericIPBus_plugin"]
	path = plugins/GenericIPBus_plugin
	url = https://github.com/BU-Tools/GenericIPBus_plugin.git
	branch = feature-BUTextIO
